/*body {
    background-image: url(../img/pexels-johannes-plenio-1103970.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 100vh;

}*/

banner {

    background-position: center;
    margin: auto;
    background-repeat: no-repeat;

    position: absolute;
    height: 10rem;
    width: 5rem;

}

header {
    margin-top: 5em;
}

section.panel {
    margin-top: 9em;
}

.nav-link {
    color: #030381;
    border: 0;
}

.navbar {
    top: 0;
}

.navbar.navbar-expand-lg.bg-body-secondary {
    background-color: #130a91 !important;

}


i.fa-brands.fa-twitter.fa-lg,
i.fa-brands.fa-facebook-f.fa-lg,
i.fa-brands.fa-linkedin.fa-lg,
i.fa-solid.fa-user.fa-lg,
i.fa-solid.fa-user-lock.fa-lg {
    color: #fff;
}

i.fa-brands.fa-twitter.fa-lg:hover {
    color: #0000ff;
}

i.fa-brands.fa-facebook-f.fa-lg:hover {
    color: #0000ff;
}

i.fa-brands.fa-linkedin.fa-lg:hover {
    color: #ff0000;
}

i.fa-solid.fa-user-lock.fa-lg:hover {
    color: #ffff00;
}

.list-group {

    --bs-list-group-bg: transparent;
    --bs-list-group-border-color: none;
}

section.dashboard {
    margin-top: 9em;
}

.container-fluid {
    height: 90%;
    width: 100%;
}


section.educacion,
section.about,
section.proyecto {
    background-image: url(/assets/img/pexels-johannes-plenio-1103970.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: #fff;
}